body{
	background-color: #F7CAC8;
}

h1{
	font-size: 64px;
	color: white;
	font-family: sans-serif;
	font-style: bold;
	text-decoration: underline;
	text-align: left;
}

h3{
	font-size: 48px;
	color: white;
	font-family: sans-serif;
	font-style: italic;
}

p{
	text-align: left;
	font-size: 36px;
}

ul{
	font-size: 36px;
	color: black;
	font-family: sans-serif;
}

li{
	font-size: 36px;
	color: black;
	font-family: sans-serif;
}